Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# EXPIRES CACHING
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/jpg "access 1 week"
	ExpiresByType image/jpeg "access 1 week"
	ExpiresByType image/gif "access 1 week"
	ExpiresByType image/png "access 1 week"
	ExpiresByType text/css "access 1 week"
	ExpiresByType application/javascript "access 1 week"
	ExpiresByType application/x-javascript "access 1 week"
	ExpiresByType image/x-icon "access 1 week"
    AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css text/javascript application/xml application/xhtml+xml application/rss+xml application/x-javascript application/javascript
</IfModule>


#HOME
RewriteRule ^gioi-thieu$ /home/about.php [L]

#gioithieu
RewriteRule ^gioi-thieu-4/ve-chung-toi-12$ /home/about.php [L]

#congcu
RewriteRule ^cong-cu$ /home/tool.php [L]

#quick-order
RewriteRule ^dat-hang-nhanh$ /home/quick_order.php [L]

#login
RewriteRule ^dang-nhap$ /home/login.php [L]

#register
RewriteRule ^dang-ky$ /home/register.php [L]

#logout
RewriteRule ^dang-xuat$ /home/logout.php [L]

#HOME
RewriteRule ^([^/]*)$ /home/index.php [L]
